h1 {
    color: red;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: lightblue;
    opacity: 0.5;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
    color: chocolate;
    background-color: lightgreen;
}
